.cardBox {
  position: relative;
  overflow: hidden;
  background: #ffffff;
  border-radius: 2rem;
}

/* animações */
.cardBox:hover .card {
  -webkit-animation: flip 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: flip 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.cardBox:hover .backCard {
  height: 100%;
  opacity: 1;
}
/**/

.card {
  position: relative;
  cursor: pointer;

  -webkit-animation: flip-reverse 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: flip-reverse 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.img {
  width: 100%;
  border-radius: 2rem;
}

.backCard {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  width: calc(100% - 1.6rem);
  overflow: hidden;
  height: 0px;
  opacity: 0;
  transition: 1s;
}


/*keyframes*/
@-webkit-keyframes flip {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
              opacity: 1;
    }
    50% {
      opacity: .5;
    }
    100% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
              opacity: 0;
    }
  }
@keyframes flip {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
              /* opacity: 1; */
    }
    /* 50% {
      opacity: .5;
    } */
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
              /* opacity: 0; */
    }
  } 

/* @-webkit-keyframes flip-reverse {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
              opacity: 1;
    }
    100% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
              opacity: 0;
    }
  }
@keyframes flip-reverse {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
              opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
              opacity: 1;
    }
  }  */
  