.cardBox {
  overflow: hidden;
}

.cardBox:hover .teste {
  transform: translateY(0);
  z-index: 1;
  height: 100px;
  opacity: 1;
  padding: 1rem 0;
}

.cardBox:hover .card {
  -webkit-animation: flip 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: flip 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.card {
  position: relative;
  cursor: pointer;
}

.img {
  width: 100%;
}

.teste {
  position: relative;
  z-index: -1;
  transform: translateY(-150px);
  height: 0px;
  opacity: 0;
  transition: .6s;
}


@-webkit-keyframes flip {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
              opacity: 1;
    }
    50% {
      opacity: .5;
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
              opacity: 1;
    }
  }
  @keyframes flip {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
              opacity: 1;
    }
    50% {
      opacity: .5;
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
              opacity: 1;
    }
  }

  
  