/* FlipCard.css */
.flip-card {
    perspective: 1000px;
    cursor: pointer;
  }
  
  .flip-card-inner {
    position: relative;
    height: 175px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  
  .flip-card-front {
    /* background-color: #000000; */
    border-radius: 2rem;
    overflow: hidden;
  }
  
  .flip-card-back {
    background-color: #ffffff;
    transform: rotateY(180deg);
    border-radius: 2rem;
    overflow: hidden;
  }
  
  .flip-img {
    width: 100%;
    height: 100%;
  }
  .flip-text {
    text-align: left;
    font-size: 1.6rem;
    padding: 0 1.6rem 0 1.6rem;
    color: #000000;
  }

  @media (min-width: 425px) {
    .flip-card-inner {
      height: 195px;
    }
}

@media (min-width: 768px) {
  .flip-card-inner {
    height: 185px;
  }
}

@media (min-width: 1024px) {
  .flip-card-inner {
    height: 167px;
  }
}

@media (min-width: 1440px) {
  .flip-card-inner {
    height: 167px;
  }
}